
.mainText {
    text-align: center;
}

.urlLink {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #bce8d2;
    text-decoration: underline;
    text-decoration-color: #F1F8E8;
}
.dataCards {
    margin-left: 10rem;
}

.infoT {
    text-align: center;
}

.infoText2 {
    margin-left: 3rem;
    font-weight: lighter;
    font-size: small;
    margin-top: 5px;
}
.infoText1 {
    margin-left: 3rem;
    font-weight: bold;

}
@keyframes smooth-bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Peak bounce scale */
    }
    100% {
      transform: scale(1); /* Return to original scale */
    }
}

.card-hover-effect {
    transition: background-color 0.9s ease; /* Adjust the duration and easing as needed */
}

.card-hover:hover {
    background-color: #ebfff5;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
    animation: smooth-bounce 0.8s ease-in-out;
}