
.mainText {
    margin-left: 28rem;
}

.urlLink {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #bce8d2;
    text-decoration: underline;
    text-decoration-color: #F1F8E8;
}
.dataCards {
    margin-left: 10rem;
}

.infoT {
    text-align: center;
}

.infoText2 {
    margin-left: 3rem;
    font-weight: lighter;
    font-size: small;
    margin-top: 5px;
}
.infoText1 {
    margin-left: 3rem;
    font-weight: bold;

}

.card-hover-effect {
    transition: background-color 0.3s ease; /* Adjust the duration and easing as needed */
}

.card-hover:hover {
    background-color: #95D2B3;
    cursor: pointer;
}