body{
    background-image: url('../public/undraw_things_to_say_re_jpcg.svg');
    background-size: 63% auto; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: calc(160% - 8%) 84%;
}